header {
    background-image: url(../images/person_in_snow.jpg);
    min-height: 40vh;
}
#title {
    padding-bottom: 40px;
}

.row {
    width: 90%;
}

.pg-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pg-content a{
    color: #000;
}

.article {
    text-align: left;
    margin: 15px;
    background-color: #fdeac3;
    height: 150px;
    width: 100%; 
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    padding-top: 1%;
} 

.pg-content h3{
    color: #aa8371;
    font-size: larger;
}


